.movie-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 0 8px;
    min-width: 240px;
    overflow: hidden;
    position: relative;
  }
  
  .movie-poster {
    background-position: center;
    background-repeat: no-repeat;
    background-size: fit;
    /* height: 420px; */
    transition: filter 0.5s;
  }
  
  .movie-details {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgb(0, 0, 0)); /* Added property */
    bottom: 0;
    color: #fff;
    left: 0;
    padding: 16px;
    position: absolute;
    right: 0;
    transition: opacity 0.5s;
  }
  
  .movie-details h2 {
    margin-bottom: 8px;
  }
  
  .movie-details p {
    margin-bottom: 0;
  }
  
  .movie-card:hover .movie-poster {
    filter: brightness(0.8);
  }
  
  .movie-card:hover .movie-details {
    opacity: 1;
  }
  